{% extends 'base.html' %}
{% load bootstrap4 %}

{% block contents %}

    <script src="//cdn.jsdelivr.net/npm/medium-editor@5.23.2/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@5.23.2/dist/css/medium-editor.min.css"
          type="text/css" media="screen" charset="utf-8">


    <div style="text-align: center; max-width: 300px; margin:auto ">

        <h1>
            sign-up
        </h1>

        <form action="{% url 'accountapp:create' %}" method="post">
            {% csrf_token %}

            {% bootstrap_form form %}
            <input type="submit" class="btn btn-dark rounded-pill mt-3">

        </form>

    </div>
    <script>var editor = new MediumEditor('.editable');</script>
{% endblock %}