{% extends 'base.html' %}
{% load static %}
{% block contents %}


    <style>

        .container {
            padding: 0;
            margin: auto;
        }

        .container div {
            width: 150px;
            justify-content: center;
            align-items: center;
            border-radius: 1rem;
        }



        .container img {
            width: 7rem;
            height: 7rem;
            border-radius: 1rem;
            object-fit: cover;

        }

        .container .item1 {
            height: 200px;
        }

        .container .item4 {
            height: 800px;
        }

        .container .item6 {
            height: 600px;
        }

        .container .item11 {
            height: 400px;
        }


    </style>

    {% if project_list %}
        <div class="container" >
            {% for project in project_list %}
                <a href="{% url 'projectapp:detail' pk=project.pk %}" >
                    {% include 'snippets/card_project.html' with project=project %}
                </a>
            {% endfor %}
        </div>
        <script src="{% static 'js/magicgrid.js' %}"></script>

    {% else %}
        <div style="text-align: center">
            <h1> No projects Yet !</h1>
        </div>
    {% endif %}

    {% include 'snippets/pagination.html' with page_obj=page_obj %}

    <div style="text-align: center">
        <a href="{% url 'projectapp:create' %}" class="btn btn-success rounded-pill mt-3">
            Project Create
        </a>
    </div>

{% endblock %}