  <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/614d881dd326717cb6831bea/1fgbdnd4r';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();

    </script>

<div class="pragmatic_footer_button">
    <div style="font-size: 0.6rem;">
        <p style="font-size: 0.7rem">임정박이 X KODE</p>
        <p style="font-weight: bold"><a href="https://github.com/sunghak2234/hackathonproject"> 깃허브로 Go ! </a></p>

    </div>
</div>
